.sidebar {
  background-color: #2bb0b0 !important; /* Nouvelle couleur */
  height: 100vh; /* Hauteur pleine */
  padding: 15px; /* Espacement interne */
}

.sidebar .nav-link {
  color: #ffffff; /* Texte des liens en blanc */
}

.sidebar .nav-link:hover {
  color: #f8f9fa; /* Texte légèrement plus clair au survol */
}

.sidebar i {
  margin-right: 8px; /* Espacement entre l'icône et le texte */
}
