<div class="container-fluid">
  <!-- Barre de navigation latérale -->
  <div class="row">
    <nav class="col-md-2 d-none d-md-block sidebar bg-dark">
      <div class="position-sticky">
        <ul class="nav flex-column text-white">
          <li class="nav-item py-2">
            <a class="nav-link text-white" href="/session-Kine">
              <i class="fa-solid fa-house"></i> Accueil
            </a>
          </li>
          <li class="nav-item py-2">
            <a class="nav-link text-white" href="/offre">
              <i class="fa-solid fa-list"></i> Mes offres
            </a>
          </li>
          <li class="nav-item py-2">
            <a class="nav-link text-white" href="/reservation-patient">
              <i class="fa-solid fa-hospital-user"></i>Resèrvations des patients
            </a>
          </li>
          <li class="nav-item py-2">
            <a class="nav-link text-white" href="/profil-kine">
              <i class="fa-regular fa-id-card"></i> profil
            </a>
          </li>
          <li class="nav-item py-2">
            <a class="nav-link text-white" href="#">
              <i class="fa fa-power-off"></i>
              Déconnexion
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Section principale pour les offres -->
    <main class="col-md-10 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2"  style="font-weight: bold; color: #2bb0b0; font-size: xx-large;text-decoration: underline;">Les réservation des patients</h1>
        <div class="profile d-flex align-items-center">
          <span class="me-2" style="font-weight: bold">Dr.Sami</span>
          <img src="assets/profile.jpg" class="rounded-circle" width="40" height="40" alt="Profil">
        </div>
      </div>
  <div class="row">
  <div id="div2">
        <div  id="myDiv" class="myDiv col-md-12" style="margin-bottom:45px;">
		<table class="table table-striped header-fixed table-bordered table-hover table-checkable order-column" id="dataTables-example">
			<thead>
				<tr>
					<th style="text-align: center;  height: 50px;width: 100px;">Offre choisit</th>
					<th style="text-align: center;height: 50px;width: 150px;">Nom du Patient </th>
					<th style="text-align: center;height: 50px;width: 50px;">Télephone</th>
					<th style="text-align: center;height: 50px;width: 100px;">date de réservation</th>
          <th style="text-align: center;height: 50px;width: 100px;">Statut</th>
          <!-- <th style="text-align: center;height: 50px;width: 100px;">actions</th> -->

				</tr>
			</thead>
			<tbody>
						<tr class="odd gradeX">
						<td style="text-align: center; height: 50px; width: 122px;">Consultation et diagnostic</td>
						<td style="text-align: center; height: 50px; width: 172px;"> Hiba Ghallabi</td>
						<td style="text-align: center; height: 50px; width: 72px;">0656362514</td>
            <td style="text-align: center; height: 50px; width: 72px;">20-11-2024</td>
						<td style="text-align: center; height: 50px; width: 122px;">
              En cours
              <!-- <div class="btn-group btn-group-horizontal">
                <a title="Détails de l'offre" href="" class="btn btn-secondary btn-xs">
                  <i class="fa-solid fa-list-alt"></i>
                </a>

                <a data-toggle="tooltip" data-placement="top" title="Modifier l'offre" href="" class="btn btn-warning btn-xs">
                  <i class="fa-solid fa-pen-to-square"></i>
                </a>

                <a data-toggle="tooltip" data-placement="top" title="Supprimer l'offre" href="" class="btn btn-danger btn-xs">
                  <i class="fa-solid fa-trash"></i>
                </a>
              </div> -->
            </td>
					</tr>
          <tr class="odd gradeX">
						<td style="text-align: center; height: 50px; width: 122px;">Massage relaxant</td>
						<td style="text-align: center; height: 50px; width: 172px;"> Jihane Taif</td>
						<td style="text-align: center; height: 50px; width: 72px;">0656002517</td>
            <td style="text-align: center; height: 50px; width: 72px;">02-09-2024</td>
						<td style="text-align: center; height: 50px; width: 122px;">Traité</td>
          </tr>
				</tbody>
		</table>
		</div>
	</div>
</div>



