<div class="container-fluid">
    <!-- Barre de navigation latérale -->
    <div class="row">
      <nav class="col-md-2 d-none d-md-block sidebar bg-dark">
        <div class="position-sticky">
          <ul class="nav flex-column text-white">
            <li class="nav-item py-2">
              <a class="nav-link text-white" href="/mes-dons">
                <i class="fa-solid fa-house"></i> Mes dons
              </a>
            </li>
            <li class="nav-item py-2">
              <a class="nav-link text-white" href="/ajout-don">
                <i class="fa-solid fa-list"></i> Ajouter un don
              </a>
            </li>
            
            <li class="nav-item py-2">
              <a class="nav-link text-white" href="#">
                <i class="fa fa-power-off"></i>
                Déconnexion
              </a>
            </li>
          </ul>
        </div>
      </nav>
  
      <!-- Section principale pour les offres -->
      <main class="col-md-10 ms-sm-auto col-lg-10 px-md-4">
        
    <div class="row">
    <div id="div2">
         
          <br>
          <br>
          <div  id="myDiv" class="myDiv col-md-12" style="margin-bottom:45px;">
          <table class="table table-striped header-fixed table-bordered table-hover table-checkable order-column" id="dataTables-example">
              <thead>
                  <tr>
                      <th style="text-align: center;  height: 50px;width: 100px;">Nom du matériel</th>
                      <th style="text-align: center;height: 50px;width: 150px;">Catégorie</th>
                      <th style="text-align: center;height: 50px;width: 50px;">Quantité</th>
                      <th style="text-align: center;height: 50px;width: 100px;">Statut</th>
                      <th style="text-align: center;height: 50px;width: 100px;">Date </th>
                  </tr>
              </thead>
              <tbody>
                     <tr class="odd gradeX">
                          <td style="text-align: center; height: 50px; width: 122px;">Table de massage</td>
                          <td style="text-align: center; height: 50px; width: 172px;"> Mobilier médical</td>
                          <td style="text-align: center; height: 50px; width: 72px;">1</td>
                          <td style="text-align: center; height: 50px; width: 122px;">Accepté</td>
                          <td style="text-align: center; height: 50px; width: 122px;">11/12/2024</td>
                      </tr>
                      <tr class="odd gradeX">
                        <td style="text-align: center; height: 50px; width: 122px;">Bandes élastiques</td>
                        <td style="text-align: center; height: 50px; width: 172px;">Accessoires</td>
                        <td style="text-align: center; height: 50px; width: 72px;">10</td>
                        <td style="text-align: center; height: 50px; width: 122px;">En attente</td>
                        <td style="text-align: center; height: 50px; width: 122px;">24/12/2024</td>
                    </tr>
              </tbody>
          </table>
          </div>
      </div>
  </div>
  
  
  
  