<div class="container-fluid">
  <!-- Barre de navigation latérale -->
  <div class="row">
    <nav class="col-md-2 d-none d-md-block sidebar bg-dark">
      <div class="position-sticky">
        <ul class="nav flex-column text-white">
          <li class="nav-item py-2">
            <a class="nav-link text-white" href="/session-Kine">
              <i class="fa-solid fa-house"></i> Accueil
            </a>
          </li>
          <li class="nav-item py-2">
            <a class="nav-link text-white" href="/offre">
              <i class="fa-solid fa-list"></i> Mes offres
            </a>
          </li>
          <li class="nav-item py-2">
            <a class="nav-link text-white" href="/reservation-patient">
              <i class="fa-solid fa-hospital-user"></i>Resèrvations des patients
            </a>
          </li>
          <li class="nav-item py-2">
            <a class="nav-link text-white" href="/profil-kine">
              <i class="fa-regular fa-id-card"></i> profil
            </a>
          </li>
          <li class="nav-item py-2">
            <a class="nav-link text-white" href="#">
              <i class="fa fa-power-off"></i>
              Déconnexion
            </a>
          </li>
        </ul>
      </div>
    </nav>

      <!-- Section principale pour les offres -->
      <main class="col-md-10 ms-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2"  style="font-weight: bold; color: #2bb0b0; font-size: xx-large;">Ajouter <strong id="cat">une Offre </strong></h1>
          <div class="profile d-flex align-items-center">
            <span class="me-2" style="font-weight: bold">Dr.Sami</span>
            <img src="assets/profile.jpg" class="rounded-circle" width="40" height="40" alt="Profil">
          </div>
        </div>
