<!--  des cartes pour les offres -->
<div class="container">
  <div class="row">
    <!-- Conteneur principal avec 3 cartes à gauche -->
    <div class="col-md-8">
      <div class="container mt-4" id="scrollableContainer">
        <h5 class="text-center mb-4" style="font-weight: bold; color: #2bb0b0; font-size: xx-large;">Découvrez Nos Offres Exclusives</h5>
        <div class="row">
          <div class="col-md-4">
            <div class="card">
              <img src="assets/offre1.png" class="card-img-top" alt="Image 1">
              <div class="card-body">
                <h5 class="card-title">Offre de 5 séances de réeducation</h5>
                <p class="card-text">  <b style="color:red"> 1000 dh </b> au lieux de <span style="text-decoration: line-through;">1250 dh</span></p>
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#offreModal1">Voir les détails </button>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <img src="assets/offre1.png" class="card-img-top" alt="Image 2">
              <div class="card-body">
                <h5 class="card-title">Offre de 10 séance de réeducation </h5>
                <p class="card-text"> <b style="color:red"> 2000 dh</b> au lieux de <span style="text-decoration: line-through;">2500 dh</span>.</p>
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#offreModal1">Voir les détails </button>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <img src="assets/offre1.png" class="card-img-top" alt="Image 3">
              <div class="card-body">
                <h5 class="card-title">Offre Massage Thérapeutique du Dos</h5>
                <p class="card-text"><b style="color:red"> 200 dh</b> au lieux de <span style="text-decoration: line-through;">300 dh</span>.</p>
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#offreModal1">Voir les détails </button>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-4">
            <div class="card">
              <img src="assets/offre1.png" class="card-img-top" alt="Image 1">
              <div class="card-body">
                <h5 class="card-title">Massage Thérapeutique + Cupping Thérapie Détox </h5>
                <p class="card-text"><b style="color:red"> 250 dh</b> au lieux de <span style="text-decoration: line-through;">400 dh</span>.</p>
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#offreModal1">Voir les détails </button>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <img src="assets/offre1.png" class="card-img-top" alt="Image 2">
              <div class="card-body">
                <h5 class="card-title">Offre de massage membre inférieure + stretching</h5>
                <p class="card-text"><b style="color:red"> 400 dh</b> au lieux de<span style="text-decoration: line-through;">600 dh</span>.</p>
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#offreModal1">Voir les détails </button>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <img src="assets/offre1.png" class="card-img-top" alt="Image 3">
              <div class="card-body">
                <h5 class="card-title">Offre de massage relaxant corps complet</h5>
                <br>
                <p class="card-text"><b style="color:red"> 499 dh</b> au lieux de <span style="text-decoration: line-through;">700 dh</span>.</p>
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#offreModal1">Voir les détails </button>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-4">
            <div class="card">
              <img src="assets/offre1.png" class="card-img-top" alt="Image 1">
              <div class="card-body">
                <h5 class="card-title">Offre de Kinésithérapie respiratoire</h5>
                <p class="card-text"><b style="color:red"> 299 dh</b> au lieux de <span style="text-decoration: line-through;">359 dh</span></p>
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#offreModal1">Voir les détails </button>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <img src="assets/offre1.png" class="card-img-top" alt="Image 2">
              <div class="card-body">
                <h5 class="card-title">Offre de Kinésithérapie pédiatrique</h5>
                <p class="card-text"><b style="color:red"> 299 dh</b> au lieux de <span style="text-decoration: line-through;">499 dh</span></p>
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#offreModal1">Voir les détails </button>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <img src="assets/offre1.png" class="card-img-top" alt="Image 3">
              <div class="card-body">
                <h5 class="card-title">Offre de 20 séances de réeducation</h5>
                <p class="card-text"> <b style="color:red"> 2899 dh</b> au lieux de <span style="text-decoration: line-through;">3500 dh</span>.</p>
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#offreModal1">Voir les détails </button>
              </div>
            </div>
          </div>
        </div>
        <br>
      </div>
    </div>


    <!-- Nouvelle colonne à droite avec une seule carte -->
    <div class="col-md-4" style="margin-top: 2%; background-color: rgb(192, 229, 222);">
      <!-- Première carte avec bordure englobant tout -->
      <div class="card" style="margin-top: 4%;">
        <img src="assets/offre.png" class="card-img-top" alt="Image 1">
        <div class="card-body">
          <h4 class="card-title">Offre de Consultation Kinésithérapeutique</h4>
          <p class="card-text"><b style="color:red;">Gratuite</b></p>
          <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#offreModal1">Voir les détails </button>
        </div>
      </div>

      <!-- Deuxième carte avec bordure englobant tout -->
      <div class="card" style="margin-top: 10%;">
        <img src="assets/offre.png" class="card-img-top" alt="Image 1">
        <div class="card-body">
          <h4 class="card-title">Offre de Kinésithérapie à Domicile</h4>
          <p class="card-text"><b style="color:red;">250 dh</b> au lieu de <span style="text-decoration: line-through;">300 dh</span>.</p>
          <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#offreModal1">Voir les détails </button>
      </div>
    </div>

    <div class="modal fade" id="offreModal1" tabindex="-1" aria-labelledby="offreModal1Label" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <!-- En-tête du Modal -->
          <div class="modal-header">
            <h5 class="modal-title" id="offreModal1Label">Détails de l'Offre : Kinésithérapie à Domicile</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

          <!-- Contenu du Modal -->
          <div class="modal-body d-flex">
            <!-- Description principale -->
            <div style="flex: 2;">
              <p><strong>Nom du Kiné :</strong> Dr. Karim Benali</p>
              <p><strong>Diplôme :</strong> Master en Kinésithérapie Avancée</p>
              <p><strong>Localisation :</strong> 123, Rue des Fleurs, Casablanca</p>
              <p>
                <strong>Description :</strong>
                Cette offre inclut une consultation de kinésithérapie à domicile avec des équipements modernes. Idéale pour les patients ayant des restrictions de mobilité.
              </p>
            </div>

            <!-- Image à droite -->
            <div style="flex: 1; margin-left: 15px;">
              <img src="assets/offre1.png" alt="Kiné" style="width: 100%; border-radius: 8px;">
            </div>
          </div>

          <!-- Pied de page du Modal -->
          <div class="modal-footer">
            <button type="button" class="btn btn-primary">Réserver</button>
            <button type="button" class="btn btn-success">Save</button>
            <button type="button" class="btn btn-danger">Report</button>
          </div>
        </div>
      </div>
</div>
