<aside class="sidebar">
    <!-- Section de profil admin -->
    <div class="admin-profile" routerLink="/profile-admin" style="cursor: pointer;">
     <img src="assets/profil2.jpg" alt="Admin Profile" class="profile-pic" />
     <h3 class="admin-name">{{ admin.username }}</h3>
   </div>

   <button routerLink="/kine-demandes" routerLinkActive="active">
     <i class="fa fa-user-md"></i>  <!-- Icône pour Kiné -->
     Kiné
   </button>
   <button routerLink="/stats-offre" routerLinkActive="active">
     <i class="fas fa-chart-line"></i>  <!-- Icône pour Statistiques -->
     Statistiques Offres
   </button>
   <button routerLink="/wallet-page" routerLinkActive="active">
     <i class="fas fa-wallet"></i>  <!-- Icône pour Wallet -->
     Wallet
   </button>
   <button >
     <i class="fa fa-sign-out"></i>  <!-- Icône pour Déconnexion -->
     Déconnexion
   </button>
 </aside>
