<div class="container-fluid">
    <!-- Barre de navigation latérale -->
    <div class="row">
      <nav class="col-md-2 d-none d-md-block sidebar bg-dark">
        <div class="position-sticky">
          <ul class="nav flex-column text-white">
            
            <li class="nav-item py-2">
              <a class="nav-link text-white" href="/mes-dons">
                <i class="fa-solid fa-list"></i> Mes Dons
              </a>
            </li>
            <li class="nav-item py-2">
              <a class="nav-link text-white" href="/ajout-don">
                <i class="fa-solid fa-hospital-user"></i>Ajouter un don
              </a>
            </li>
        
            <li class="nav-item py-2">
              <a class="nav-link text-white" href="#">
                <i class="fa fa-power-off"></i>
                Déconnexion
              </a>
            </li>
          </ul>
        </div>
      </nav>


      <div class="row">
        <div id="div2">
              <a href="/ajouter-offre" class="btn btn-info btn-sm" name="add" id="add">
            <i class="fa-solid fa-plus"></i>
            Ajouter une offre
            </a>
              <br>
              <br>
              <div  id="myDiv" class="myDiv col-md-12" style="margin-bottom:45px;">
              <table class="table table-striped header-fixed table-bordered table-hover table-checkable order-column" id="dataTables-example">
                  <thead>
                      <tr>
                          <th style="text-align: center;  height: 50px;width: 100px;">Offre</th>
                          <th style="text-align: center;height: 50px;width: 150px;">description </th>
                          <th style="text-align: center;height: 50px;width: 50px;">prix</th>
                          <th style="text-align: center;height: 50px;width: 100px;">Actions</th>
                      </tr>
                  </thead>
                  <tbody>
                              <tr class="odd gradeX">
                              <td style="text-align: center; height: 50px; width: 122px;">Consultation et diagnostic</td>
                              <td style="text-align: center; height: 50px; width: 172px;"> faire des mouvement pour pouvoir faire des diagnostic</td>
                              <td style="text-align: center; height: 50px; width: 72px;">Gratuit
                              </td>
                              <td style="text-align: center; height: 50px; width: 122px;">
                    <div class="btn-group btn-group-horizontal">
                      <a title="Détails de l'offre" href="" class="btn btn-secondary btn-xs">
                        <i class="fa-solid fa-list-alt"></i>
                      </a>
      
                      <a data-toggle="tooltip" data-placement="top" title="Modifier l'offre" href="" class="btn btn-warning btn-xs">
                        <i class="fa-solid fa-pen-to-square"></i>
                      </a>
      
                      <a data-toggle="tooltip" data-placement="top" title="Supprimer l'offre" href="" class="btn btn-danger btn-xs">
                        <i class="fa-solid fa-trash"></i>
                      </a>
                    </div>
                  </td>
                          </tr>
                      </tbody>
              </table>
              </div>
          </div>
    </div>
</div>    
  
