<app-sidebar-admin></app-sidebar-admin>
<div class="kine-page">
    <h2>Gestion des Offres</h2>
  
    <table class="offers-table">
      <thead>
        <tr>
          <th>Numéro offre</th>
          <th>Nom de l'Offre</th>
          <th>Nom du Kiné</th>
          <th>Nombre de Clients</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let offre of offres; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ offre.nom }}</td>
          <td>{{ offre.kineNom }}</td>
          <td>{{ offre.nbClients }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  