  <div class="container-fluid">
    <!-- Barre de navigation latérale -->
    <div class="row">
      <nav class="col-md-2 d-none d-md-block sidebar bg-dark">
        <div class="position-sticky">
          <ul class="nav flex-column text-white">
            <li class="nav-item py-2">
              <a class="nav-link text-white" href="/session-Kine">
                <i class="fa-solid fa-house"></i> Accueil
              </a>
            </li>
            <li class="nav-item py-2">
              <a class="nav-link text-white" href="/offre">
                <i class="fa-solid fa-list"></i> Mes offres
              </a>
            </li>
            <li class="nav-item py-2">
              <a class="nav-link text-white" href="/reservation-patient">
                <i class="fa-solid fa-hospital-user"></i>Resèrvations des patients
              </a>
            </li>
            <li class="nav-item py-2">
              <a class="nav-link text-white" href="/profil-kine">
                <i class="fa-regular fa-id-card"></i> profil
              </a>
            </li>
            <li class="nav-item py-2">
              <a class="nav-link text-white" href="#">
                <i class="fa fa-power-off"></i>
                Déconnexion
              </a>
            </li>
          </ul>
        </div>
      </nav>

      <!-- Section principale pour les offres -->
      <main class="col-md-10 ms-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2"  style="font-weight: bold; color: #2bb0b0; font-size: xx-large;">Ajouter <strong id="cat">une Offre </strong></h1>
          <div class="profile d-flex align-items-center">
            <span class="me-2" style="font-weight: bold">Dr.Sami</span>
            <img src="assets/profile.jpg" class="rounded-circle" width="40" height="40" alt="Profil">
          </div>
        </div>
      <div>
          <div class="container mt-4 border border-primary">
            <div class="div" >
              <b>Informations de l'offre :</b>
            </div>
            <hr>
            <form >
                  <div class="form-group row">
                      <label for="offre" class="col-lg-4 col-form-label required">Nom de l'offre:</label>
                      <div class="col-lg-8">
                          <input type="text" id="offre" name="Identifiant" class="form-control" style="width: 400px;" required>
                          <div class="error-message" style="color: red;"></div>
                      </div>
                  </div>

                  <div class="form-group row">
                      <label for="description" class="col-lg-4 col-form-label required">Description de l'offre:</label>
                      <div class="col-lg-8">
                        <textarea id="description" name="description" class="form-control" style="width: 400px; height: 150px; resize: none;" required></textarea>
                        <div class="error-message" style="color: red;"></div>
                      </div>
                  </div>

                  <div class="form-group row">
                      <label for="inputRoles" class="col-lg-4 col-form-label required">Prix:</label>
                      <div class="col-lg-8">
                          <input type="text" id="inputRoles" name="roles" class="form-control" style="width: 400px;" required>
                      </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputRoles" class="col-lg-4 col-form-label required">Prix de promotion:</label>
                    <div class="col-lg-8">
                        <input type="text" id="inputRoles" name="roles" class="form-control" style="width: 400px;" required>
                    </div>
                </div>

                  <div class="form-group row">
                      <label for="date" class="col-lg-4 col-form-label required">date d'ajout:</label>
                      <div class="col-lg-8">
                          <input type="date" id="date" name="date" class="form-control" style="width: 400px;" required>
                      </div>
                  </div>
                  <div class="form-group row">
                    <label for="local" class="col-lg-4 col-form-label required"> Localisation:</label>
                    <div class="col-lg-8">
                        <input type="text" id="date" name="local" class="form-control" style="width: 400px;" required>
                    </div>
                </div>
                <div class="form-group row">
                  <label for="img" class="col-lg-4 col-form-label required">Image de l'offre:</label>
                  <div class="col-lg-8">
                      <input type="file" id="img" name="img" class="form-control" style="width: 400px;" required>
                  </div>
              </div>
              <div style="margin-bottom: 10px;margin-left: 80%;">
                <button type="button" class="btn btn-info"><i class="fas fa-save"></i>
                  Enregistrer</button> &nbsp;&nbsp;
                  <a href="/offre"><button type="button" class="btn btn-danger"><i class="fas fa-times"></i>
                    Annuler</button></a>
              </div>

</form>

</div>
      </div>
