<div>
  <img src="assets/dons-icon.png" alt="dons" height="30%" width="15%" class="inline-image">
  <img src="assets/dons-icon.png" alt="dons" height="30%" width="15%" class="inline-image">
</div>
<div class="container">
  <select class="form-select bg-warning text-white" aria-label="Default select example">
    <option selected>Type de matériels</option>
    <option value="1">chaise roulante</option>
    <option value="2">bandage</option>
    <option value="3">canne</option>
  </select>
  <br>
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card">
      <img src="assets/canne1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"> Canne Bequille </h5>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="assets/chaise-roulante.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">chaise roulante</h5>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="assets/OIP.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Chaise roulante éléctrique</h5>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="assets/chaise1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">chaise roulante éléctrique</h5>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="assets/chaise1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">chaise roulante éléctrique</h5>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="assets/neck.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">chaise roulante éléctrique</h5>
      </div>
    </div>
  </div>
</div>
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card">
      <img src="assets/canne.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"> Canne Quadripode </h5>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="assets/chaise-roulante.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">chaise roulante</h5>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="assets/OIP.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Chaise roulante éléctrique</h5>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="assets/chaise1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">chaise roulante éléctrique</h5>
      </div>
    </div>
  </div>
</div>
</div>
